<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="style.css"> <!--  CSS Custom Link -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <title>Document</title>
</head>

<body>

  <div id="app">

    <div class="container-fluid p-0 position-relative vh-100 overflow-hidden">
      <div class="background-upper-bar position-absolute w-100">
      </div>

      <div class="row h-100 position-relative justify-content-center align-items-center">
        <div class="col-10 p-0" style="height: 90%;">
          <div class="whatsapp-container h-100 d-flex">

            <!-- SIDEBAR -->
            <div class="sidebar-section bg-white overflow-hidden d-flex flex-column">

              <!-- Sidebar Upperbar -->
              <div class="sidebar-upperbar d-flex justify-content-between">
                <!-- sezione con foto profilo e nome dell'utente -->
                <div class="profile-photo-user d-flex align-items-center">
                  <img class="rounded-circle mx-2" src="./imgs/avatar_io.jpg" alt="">
                  <div>
                    Sofia
                  </div>
                </div>
                <!-- upperbar tools -->
                <div class="d-flex align-items-center gap-3 p-2 me-3 text-secondary">
                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
              </div>

              <!-- Notification -->
              <div class="sidebar-notification-section d-flex gap-2 align-items-center">
                <div
                  class="notification-image bg-white text-primary d-flex justify-content-center align-items-center rounded-circle fs-5 m-2">
                  <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                  <div class="m-0 notification-text">Ricevi notifiche di nuovi messaggi</div>
                  <div><a href="#" class="text-secondary notification-link">Attiva notifiche desktop</a></div>
                </div>
              </div>

              <!-- Search Bar -->
              <div class="input-group mb-3 p-2 bg-light">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" placeholder="Cerca una chat" aria-describedby="basic-addon1"
                  v-model="searchedChat">
              </div>

              <!-- Conversations -->
              <div class="chat-preview-section bg-light overflow-auto">

                <!-- Single Chat -->
                <div class="single-chat-preview d-flex justify-content-between border-top border-bottom"
                  v-for="contact in contatti" @click="openChat(contact)"
                  v-bind:class="contact.name.toLowerCase().includes(searchedChat) || contact.name.includes(searchedChat) ? '': 'd-none'">
                  <!-- Single Chat Profile -->
                  <div class="profile-photo-user d-flex align-items-center">
                    <img class="rounded-circle mx-2" :src=`./imgs/avatar${contact.avatar}.jpg` alt="">
                    <div>
                      <div class="fs-5">{{contact.name}}</div>
                      <p style="font-size: .8rem;" class="text-secondary">
                        {{contact.messages[contact.messages.length-1].message}}</p>
                    </div>
                  </div>
                  <!-- Time -->
                  <div>
                    <div style="font-size: .7rem;" class="text-secondary pe-2">
                      {{formatDate(contact.messages[contact.messages.length-1].date)}}</div>
                  </div>
                </div>

              </div>
            </div>

            <!-- CHAT -->
            <div class="chat-section d-flex flex-column overflow-hidden">

              <!-- Chat Upperbar -->
              <div class="chat-upperbar d-flex justify-content-between border-start border-2">

                <!-- User Profile -->
                <div class="profile-photo-user d-flex align-items-center">
                  <img class="rounded-circle mx-2" :src=`./imgs/avatar${currentContact.avatar}.jpg` alt="">
                  <div class="">
                    <div>{{currentContact.name}}</div>
                    <p class="last-access text-secondary m-0">Ultmo accesso oggi alle
                      {{formatDate(currentContact.messages[currentContact.messages.length-1].date)}}</p>
                  </div>
                </div>
                <div class="sidebar-upperbar-tools d-flex align-items-center gap-3 p-2 me-3 text-secondary">
                  <i class="fa-solid fa-search"></i>
                  <i class="fa-solid fa-paperclip"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
              </div>

              <!-- Messages -->
              <div class="chat-container overflow-auto d-flex flex-column flex-grow-1 p-3 gap-3" ref="msgsContainer">
                <div class="card" v-for="(messaggio, i) in currentContact.messages"
                  v-bind:class=`${messaggio.status}-message`>
                  <div class="card-body pb-1 d-flex ">
                    <p class="flex-grow-1 mb-0">{{messaggio.message}}</p>
                    <div>
                      <div class="btn-group">
                        <button type="button" class="btn bg-transparent p-0 pe-1 border-0" data-bs-toggle="dropdown"
                          data-bs-display="static" aria-expanded="false">
                          <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                          <li><button class="dropdown-item" type="button">Message Info</button></li>
                          <li><button class="dropdown-item" type="button"
                              @click="(deleteMessage(messaggio.message, currentContact))">Delete Message</button></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-hour text-secondary">
                    {{formatDate(messaggio.date)}}
                  </div>
                </div>
              </div>

              <!-- Message Input -->

              <div class="card">
                <div class="card-body py-2 px-1 rounded-0 bg-light">
                  <div class="input-group">
                    <span class="input-group-text border-0 rounded-0 text-secondary"><i
                        class="fa-regular fa-face-smile"></i></span>
                    <input type="text" class="form-control rounded-1" placeholder="Scrivi un messaggio"
                      v-model="newMessage" @keydown.enter="sendMessage()">
                    <span class="input-group-text rounded-0 border-0 text-secondary fs-5"><i
                        class="fa-solid fa-microphone"></i></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="main.js"></script><!--  JS Custom Link -->
</body>

</html>