<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="style.css"> <!--  CSS Custom Link -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Document</title>
</head>

<body>

  <div id="app">

    <div class="container-fluid p-0 position-relative vh-100">
      <div class="background-upper-bar position-absolute w-100">
      </div>

      <div class="row h-100 position-relative justify-content-center align-items-center">
        <div class="col-10 p-0" style="height: 90%;">
          <div class="whatsapp-container h-100 d-flex">

            <!-- SIDEBAR -->
            <div class="sidebar-section bg-white overflow-hidden d-flex flex-column">

              <!-- barra in alto della sidebar -->
              <div class="sidebar-upperbar d-flex justify-content-between">
                <!-- sezione con foto profilo e nome dell'utente -->
                <div class="profile-photo-user d-flex align-items-center">
                  <img class="rounded-circle mx-2" src="./imgs/avatar_io.jpg" alt="">
                  <div>
                    Sofia
                  </div>
                </div>
                <!-- upperbar tools -->
                <div class="d-flex align-items-center gap-3 p-2 me-3 text-secondary">
                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
              </div>

              <!-- notifiche -->
              <div class="sidebar-notification-section d-flex gap-2 align-items-center">
                <div
                  class="notification-image bg-white text-primary d-flex justify-content-center align-items-center rounded-circle fs-5 m-2">
                  <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                  <div class="m-0 notification-text">Ricevi notifiche di nuovi messaggi</div>
                  <div><a href="#" class="text-secondary notification-link">Attiva notifiche desktop</a></div>
                </div>
              </div>

              <!-- barra di ricerca -->
              <div class="input-group mb-3 p-2 bg-light">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" placeholder="Cerca una chat" aria-describedby="basic-addon1">
              </div>

              <!-- sezione con anteprima delle chat -->
              <div class="chat-preview-section bg-light overflow-auto">

                <!-- Anteprima di una singola chat -->
                <div class="single-chat-preview d-flex justify-content-between border-top border-bottom"
                  v-for="contact in contatti" @click="openChat(contact)">
                  <!-- foto profilo e nome del destinatario -->
                  <div class="profile-photo-user d-flex align-items-center">
                    <img class="rounded-circle mx-2" :src=`./imgs/avatar${contact.avatar}.jpg` alt="">
                    <div>
                      <div class="fs-5">{{contact.name}}</div>
                      <p style="font-size: .8rem;" class="text-secondary">Ultimo messaggio inviato</p>
                    </div>
                  </div>
                  <!-- ora a destra -->
                  <div>
                    <div style="font-size: .7rem;" class="text-secondary pe-2">12:00</div>
                  </div>
                </div>

              </div>
            </div>

            <!-- CHAT -->
            <div class="chat-section d-flex flex-column overflow-hidden">

              <!-- Barra in alto della chat -->
              <div class="chat-upperbar d-flex justify-content-between border-start border-2">

                <!-- sezione con foto profilo e nome dell'utente -->
                <div class="profile-photo-user d-flex align-items-center">
                  <img class="rounded-circle mx-2" :src=`./imgs/avatar${currentContact.avatar}.jpg` alt="">
                  <div class="">
                    <div>{{currentContact.name}}</div>
                    <p class="last-access text-secondary m-0">Ultmo accesso oggi alle 12:00</p>
                  </div>
                </div>
                <div class="sidebar-upperbar-tools d-flex align-items-center gap-3 p-2 me-3 text-secondary">
                  <i class="fa-solid fa-search"></i>
                  <i class="fa-solid fa-paperclip"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
              </div>

              <!-- Messaggi -->
              <div class="chat-container overflow-auto d-flex flex-column flex-grow-1">

                <div class="card m-3" v-for="messaggio in currentContact.messages"
                  v-bind:class="messaggio.status == 'sent' ? 'sent-message' : 'received-message'">
                  <div class="card-body pb-1">
                    {{messaggio.message}}
                  </div>
                  <div class="card-hour text-secondary">
                    12:00
                  </div>
                </div>

              </div>

              <!-- Input del messaggio -->

              <div class="card">
                <div class="card-body py-2 px-1 rounded-0 bg-light">
                  <div class="input-group">
                    <span class="input-group-text border-0 rounded-0 text-secondary"><i
                        class="fa-regular fa-face-smile"></i></span>
                    <input type="text" class="form-control rounded-1" placeholder="Scrivi un messaggio"
                      v-model="newMessage" @keydown.enter="sendMessage()">
                    <span class="input-group-text rounded-0 border-0 text-secondary fs-5"><i
                        class="fa-solid fa-microphone"></i></span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="main.js"></script><!--  JS Custom Link -->
</body>

</html>